@font-face {
    font-family: Formula1font; src: url('../fonts/Formula1-Regular.ttf');
}

body {
    background-color: transparent;
}

.vote{
    position: absolute;
    right: 10px;
    bottom: 50px;
}

#headerDiv {
    width: 300px;
    height: auto;
    clear: both;
}

#header {
    width: 300px;
    height: auto;
}

.header {
    width: 300px;
    height: auto;
}

.headerDiv {
    width: 300px;
    height: auto;
    clear: both;
}

.prevote {
    background-color: rgba(0,0,0,0.7);
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: 270px;
}

.voteNow{
    width: 290px;
    background-color: black;
    color: white;
    font-family: Formula1font;
    text-align: center;
    font-weight: bolder;
    padding: 10px 5px !important;
    margin-top: -11px;
    border-bottom-right-radius: 25px;
}

#votesDiv {
    width: 290px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.latestPoll {
    font-family: Formula1font, sans-serif;
    color: white;
    font-size: 20px;
    padding: 5px;
}

.line {
    border: 0; height: 0; box-shadow: 0 0 3px 1px white;
}

.latestPoll .top{
    text-align: center;
    padding-bottom: 25px;
}

.latestPoll .name{
    position: relative;
    top:-30px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.latestPoll .name #third {
    margin-bottom: -15px;
}

.latestPoll .name .place {
    position:relative; top: 22px;
}

.latestPoll .name .percentage {
    float: right;
    position: relative; right:10px;color:red;font-size: 40px;
}

.latestPoll .name .driverName {
    position: relative;
    top: 20px;
}

#dotdDiv {
    width: 300px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

#dotdPhoto {
    margin-top: -40px;
    margin-bottom: -50px;
    margin-left: -20px;
    width: 350px;
    height: auto;
}

#bottomBarTwo {
    position: relative;
    width: 300px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: inherit;
    text-align: center;
}

#text {
    display: inline-block;
}

#percents {
    margin-top: 3px;
    float: left;
    font-family: Formula1font, sans-serif;
    color: red;
    font-size: 36px;
}

#votes {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    font-family: Formula1font, sans-serif;
    color: white;
    font-size: 30px;
}

#bottomDiv {
    position: relative;
    width: 300px;
    height: auto;
    clear: both;
}

#bottom {
    width: 300px;
    height: auto;
}


#rectangle {
    position: absolute;
    top: 8px;
    left: 10px;
    float: left;
    width: 5px;
    height: 40px;
    background-color: white;
    border-radius: 3px;
}

#nameSurname {
    position: absolute;
    top: 3px;
    left: 25px;
    float: left;
    font-family: Formula1font, sans-serif;
    color: white;
    font-size: 20px;
}

.nameSurname {
    position: absolute;
    top: 3px;
    left: 25px;
    float: left;
    font-family: Formula1font, sans-serif;
    color: white;
    font-size: 20px;
}

