.mclaren {
    background-color: #FF8700 !important;
}
.ferrari {
    background-color: #C00000 !important;
}

.mercedes {
    background-color: #00D2BE !important;
}

.redbull {
    background-color: #0600EF !important;
}

.alphatauri {
    background-color: #C8C8C8 !important;
}

.alfaromeo {
    background-color: #960000 !important;
}

.haas {
    background-color: #787878 !important;
}

.williams {
    background-color: #0082FA !important;
}

.renault {
    background-color: #FFF500 !important;
}

.racingpoint {
    background-color: #F596C8 !important;
}